# LLM Configuration
DEFAULT_LLM_MODEL="gpt-4o"
OPENAI_API_KEY="your_openai_api_key_here"
# GEMINI_API_KEY="your_gemini_api_key_here"
# ANTHROPIC_API_KEY="your_anthropic_api_key_here"
# GROQ_API_KEY="your_groq_api_key_here"

PROJECT_NAME="MedAssist AI"
API_KEY_SECRET="your_api_key_secret_here"
API='/api/v1'
API_STR='/api/v1'
CORS_ALLOWED_ORIGINS='*'
POSTGRES_USER=medassist
POSTGRES_PASSWORD=secret
POSTGRES_DB=medassist_db
DATABASE_URI=postgresql+psycopg2://medassist:secret@postgres:5432/medassist_db
